body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 100%;
}

.guesses-container {
    margin-top: 3vmin;
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    column-gap: 0.5vmin;
    row-gap: 0.5vmin;
}

.guesses-container > div {
    outline: 0.025vmin solid lightgray;
    text-align: center;
    padding-top: 1.25vmin;
    font-size: 2.5vmin;
    font-weight: bold;
}

.keyboard-row-1 {
    margin-top: 8vmin;
    line-height: 4vmin;
    display: grid;
    grid-template-columns: repeat(10, 3.5vmin);
    column-gap: 0.5vmin;
}

.keyboard-row-1 > div {
    background-color: lightgray;
    border-radius: 10%;
    font-size: 2vmin;
    text-align: center;
    font-weight: bold;
}

.keyboard-row-2 {
    margin-top: 0.5vmin;
    line-height: 4vmin;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(9, 3.5vmin);
    column-gap: 0.5vmin;
}

.keyboard-row-2 > div {
    background-color: lightgray;
    border-radius: 10%;
    font-size: 2vmin;
    text-align: center;
    font-weight: bold;
}

.keyboard-row-3 {
    margin-top: 0.5vmin;
    line-height: 4vmin;
    display: grid;
    grid-template-columns: repeat(10, 3.5vmin);
    column-gap: 0.5vmin;
    row-gap: 0.5vmin;
}

.keyboard-row-3 > div {
    background-color: lightgray;
    border-radius: 10%;
    font-size: 2vmin;
    text-align: center;
    font-weight: bold;
}

#enterBtn {
    grid-column-start: 1;
    grid-column-end: span 2;
    font-size: 1.5vmin;
}

#deleteBtn {
    grid-column-start: 10;
    grid-column-end: span 2;
    font-size: 2vmin;
}

button {
    margin-top: 5vmin;
    text-align: center;
    background-color: rgb(95, 160, 89);
    color: white;
    border-radius: 45%;
    font-size: 1.5vmin;
    padding: 1.5vmin;
}