body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100%;
}

.guesses-container {
    margin-top: 5vmin;
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    column-gap: 0.5vmin;
    row-gap: 0.5vmin;
}

.guesses-container > div {
    outline: 1px solid lightgray;
    text-align: center;
    padding-top: 1.5vmin;
    font-size: 2vmin;
}

.keyboard {
    margin-top: 10vmin;
    display: grid;
    grid-template-columns: repeat(10, 3vmin);
    grid-template-rows: repeat(3, 4vmin);
    column-gap: 0.5vmin;
    row-gap: 0.5vmin;
}

.keyboard > div {
    background-color: lightgray;
    border-radius: 10%;
    text-align: center;
    padding-top: 1.5vmin;
}